<h1>Reset your password:</h1>

<%= semantic_form_left_column_size(5) %>

<% semantic_form_for(:password_reset, :url => password_reset_path) do |f| -%>
  <%= f.error_messages %>
  <%= f.text_field 'email', :label => "Email:" %>
  <%= f.submit "Reset" %>
<% end -%>