<% if facebook_session and !facebook_session.expired? %>
  <p>You are logged in as <%= fb_name facebook_session.user.uid %></p>

  <%= fb_profile_pic facebook_session.user.uid %>
  <%= fb_logout_link "logout", "/connect/logout" %>
<% else %>
  <%= fb_login_button 'window.location.reload()' %>
<% end %>