<%= form.text_field :login, :label => "Login:" %>
<%= form.text_field :email, :label => "Email:" %>
<%= form.password_field :password, :label => "Password:" %>
<%= form.password_field :password_confirmation, :label => "Confirm:" %>
