<%= form.text_field :name, :label => "Name:" %>
<%= form.text_field :email, :label => "Email:" %>
<%= form.password_field :password, :label => "Password:" %>
<%= form.password_field :password_confirmation, :label => "Confirm:" %>
