<%= render :partial => "layouts/head" %>

<body>
  <div id="doc" class="yui-t7">
     <div id="hd">
       <%= render :partial => "layouts/header" %>
    </div>
    <div id="bd">
      <div class="yui-g">
        <%= yield %>
      </div>
    </div>
    <div id="ft">
      <%= render :partial => "layouts/footer" %>
    </div>
  </div>
</body>
</html>